.custom-table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th, .custom-table td {
    border-bottom: 1px solid #ddd;
    padding: 16px;
  }
  
  .custom-table th {
    text-align: left;
  }
  